/*---------------
    RESET
---------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*---------------
    TYPO
---------------*/

h1 {
    font-size: 80px;
}

.text-col {
    text-align: center;
}
/*---------------
    COMMON
---------------*/
.row {
    display: flex;
}

.iconbig {
    font-size: 40px;

}
/*---------------
    BUTTONS
---------------*/
.bluebutton {
    padding: 10px;
    background-color: #0061ff;
    color: #fff;
    border: none;
}

/*---------------
    HEADER
---------------*/
header {
    /*aggiungere position: fixed;*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;

}

.headernav {
    display: flex;
    padding: 10px 15px;
    height: 80px;
}

.headerleft {
    width: 50%;
}

.headerright {
    width: 50%;
    justify-content: flex-end; 
}

.main-nav-left ul {
    list-style: none;
    display: flex;
}

.main-nav-left, .main-nav-right {
    justify-content: space-between;
}

.main-nav-left ul li a, .main-nav-right ul li a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.main-nav-right ul {
    list-style: none;
    display: flex;
}
/*---------------
    MAIN
---------------*/
.container-big {
    width: 1160px;
    margin: auto;
}
.col-left {
    width: 40%;
}
.col-right {
    width: 60%;
}
.col-left .bluebutton, .col-left .iconbig {
    margin: 25px 0;
}
.hero {
    background-color: #b4d0e7;
    height: 730px;           /*per far strabordare l'iimagine diamo
                               un'altezza fissa*/
}

.herotitle {
    font-size: 70px;
    width: 1160px;
    padding: 100px 0;
}
.image {
    width: 100%;
}
.container-small {
    width: 1000px;
    margin: auto;
}

.titlesecond {
    margin-top: 150px;
    font-size: 25px;
}

.checkbox {
    margin-top: 60px;
}

#check {
    margin-left: 50px;
}

.col {
    border: 1px groove lightgrey;
    margin-right: 10px;
    width: calc(100% / 3 - 30px);
    margin-top: 50px;
    flex-wrap: nowrap;
}
.col-top {

    padding: 10px 0;
    border-bottom: 1px groove lightgrey;
}

.normimage {
    width: 90%;
}

.whitebutton {
    color: black;
    background-color: white;
    border: 1px groove black;
    padding: 10px;
}
.info {
    padding: 30px;
}
.info .bluebutton {
    width: 100%;
}
.description {
    padding-left: 30px;
}

.description h3 {
    padding-top: 60px;
}

.description p {
    padding-top: 10px;
    padding-bottom: 20px;
}
.colsmall {
    width: calc(100% / 3);
    flex-wrap: wrap;
    background-color: brown;
    height: 100px;
    border: 3px solid black;
}

.rulecol {
    width: 25%;
}
/*---------------
    FOOTER
---------------*/