/*---------------
    RESET
---------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*---------------
    TYPO
---------------*/

h1 {
    font-size: 80px;
}

.text-col {
    text-align: center;
}
/*---------------
    COMMON
---------------*/
.row {
    display: flex;
}

.iconbig {
    font-size: 40px;

}
/*---------------
    BUTTONS
---------------*/
.bluebutton {
    padding: 10px;
    background-color: #0061ff;
    color: #fff;
    border: none;
}

/*---------------
    HEADER
---------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;

}

.headernav {
    display: flex;
    padding: 10px 15px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.headerleft {
    width: 50%;
}

.headerright {
    width: 50%;
    justify-content: flex-end; 
}

.main-nav-left ul {
    list-style: none;
    display: flex;
}

.main-nav-left ul li a, .main-nav-right ul li a {
    text-decoration: none;
    margin: 0 20px;
    color: black;
}

.main-nav-right ul {
    list-style: none;
    display: flex;
}
/*---------------
    MAIN
---------------*/
.container-big {
    width: 1160px;
    margin: auto;
}
.col-left {
    width: 40%;
}
.col-right {
    width: 60%;
}
.col-left .bluebutton, .col-left .iconbig {
    margin: 25px 0;
}
.hero {
    background-color: #b4d0e7;
    height: 730px;           /*per far strabordare l'iimagine diamo
                               un'altezza fissa*/
}

.herotitle {
    font-size: 70px;
    width: 1160px;
    padding: 100px 0;
}
.image {
    width: 100%;
}
.container-small {
    width: 1000px;
    margin: auto;
}

.titlesecond {
    margin-top: 150px;
    font-size: 25px;
}

.checkbox {
    margin-top: 60px;
}

#check {
    margin-left: 50px;
}

.col {
    border: 1px groove lightgrey;
    width: calc(100% / 3);
    margin-top: 50px;
    flex-wrap: nowrap;
}
.col-top {

    padding: 10px 0;
    border-bottom: 1px groove lightgrey;
}
.colcenter {
    margin-left: 25px;
    margin-right: 25px;
}
.lastcol {
    width: 100%;
    margin-top: 50px;
    border: 1px groove lightgrey;
}

.normimage {
    width: 90%;
}

.whitebutton {
    color: black;
    background-color: white;
    border: 1px groove black;
    padding: 10px;
}
.info {
    padding: 30px;
}
.info .bluebutton {
    width: 100%;
}
.info .row {
    justify-content: space-between;
}
.description {
    padding-left: 30px;
}

.description h3 {
    padding-top: 60px;
}

.description p {
    padding-top: 10px;
    padding-bottom: 20px;
}
.colsmall {
    width: 30%;
}
.colsmall h3 {
    padding: 20px 0;
}

.flexwrap {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;
}
.rulecol {
    width: 25%;
}

.partner-col {
    width: 30vw;
    height: 30vw;
    flex-wrap: wrap;
}
 .partner-colcenter {
    width: calc(100% - 60vw);
    overflow-y: auto;
    background-color: #f5f5f5; 
 }

 .partner {
    width: 50%;
    height: 50%;
    background-color: #a2d39b; 
 }

 .color1 {
    background-color: #61082b;
 }
 .color2 {
    background-color: #0093ce;
 }
 .color3 {
    background-color: #ff1c1c;
 }
 .color4 {
    background-color: #d5001f;
 }
 .color5 {
    background-color: #b4d0e7;
 }
 .color6 {
    background-color: #0d2481;
 }
 .color7 {
    background-color: #ffd830;
 }

 .partner img {
    color: #fff;
 }
 .join {
    background-color: #b4d0e7;
    padding: 50px 0;
 }
 .col-right h3 {
    color: #61082b;
 }
 
/*---------------
    FOOTER
---------------*/
footer {
    background-color: black;
}

.main-nav-footer ul {
    width: calc(100% / 5);
}
.main-nav-footer ul li {
    list-style-type: none;
    color: white;
}
.main-nav-footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.footer-bottom {
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
}
.footer-bottom span {
    padding: 0 10px;
}
.container-big .rulecol {
    margin-top: 40px;
    width: 10%;
}